.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

 html .clearfix { height: 1%; }
.clearfix { display: block; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 


body{
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  font-size: 16px; 
  font-family: 'PT Sans', arial, sans-serif;
}
span {
  color:red;
}
html, body, .container, .scroller {
  height: 100%;
}

.scroller {
  overflow-y: scroll;
}

.scroller,
.scroller-inner {
  position: relative;
}

.container {
  position: relative;
  overflow: hidden;
  background: white;
}

.menu-trigger {
  position: relative;
  padding-left: 60px;
  font-size: 0.9em;
}

.menu-trigger:before {
  position: absolute;
  top: 2px;
  left: 0;
  width: 40px;
  height: 6px;
/*  background: #fff;*/
  box-shadow: 0 6px #34495e, 0 12px #fff, 0 18px #34495e, 0 24px #fff;
  content: '';
}

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%;
}

.mp-menu {
  position: absolute; /* we can't use fixed here :( */
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.mp-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cc0000;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}
.mp-menu a {
  text-decoration: none;
  color: white;
}
.mp-pusher::after,
.mp-level::after {
  b/*ackground: rgba(0,0,0,0.3);*/
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
  z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
  cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.mp-pusher,
.mp-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  box-shadow: 1px 0 2px rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mp-menu h2 {
  margin: 0;
  padding: 1em;
/*  color: rgba(0,0,0,0.4);*/
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
}

.mp-menu.mp-overlap h2::before {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  font-size: 75%;
  line-height: 1.8;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
  transition: opacity 0.3s, transform 0.1s 0.3s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
  opacity: 50;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.mp-menu ul li > a {
  display: block;
  padding: 0.7em 1em 0.7em 1.8em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  font-size: 1.4em;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.mp-menu ul li::before {
  position: absolute;
  left: 10px;
  z-index: -1;
  color: rgba(0,0,0,0.2);
  line-height: 3.5;
}

.mp-level > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
} /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
/*  background: rgba(0,0,0,0.1);*/
  outline: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  font-size: 0.8em;
  padding: 1em;
  position: relative;
  box-shadow: inset 0 1px rgba(0,0,0,0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

.mp-back::after {
  font-family: 'linecons';
  position: absolute;
  content: "\e037";
  right: 10px;
  font-size: 1.3em;
  color: rgba(0,0,0,0.3);
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
  padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
  display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
  display: block;
}
.scroller {
  overflow-y: scroll;
}

.scroller,
.scroller-inner {
  position: relative;
}

.container {
  position: relative;
  overflow: hidden;
  background: #34495e;
}

.menu-trigger {
  position: relative;
  padding-left: 60px;
  font-size: 0.9em;
}

.menu-trigger:before {
  position: absolute;
  top: 2px;
  left: 0;
  width: 40px;
  height: 6px;
  background: #fff;
  box-shadow: 0 6px #34495e, 0 12px #fff, 0 18px #34495e, 0 24px #fff;
  content: '';
}

.mp-pusher {
  position: relative;
  left: 0;
  height: 100%;
}

.mp-menu {
  position: absolute; /* we can't use fixed here :( */
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.mp-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #336ca6;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
  background: rgba(0,0,0,0.3);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
  z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
  cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.mp-pusher,
.mp-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  box-shadow: 1px 0 2px rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mp-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
}

.mp-menu.mp-overlap h2::before {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  font-size: 75%;
  line-height: 1.8;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
  transition: opacity 0.3s, transform 0.1s 0.3s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.mp-menu ul li > a {
  display: block;
  padding: 0.7em 1em 0.7em 1.8em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  font-size: 1.4em;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.mp-menu ul li::before {
  position: absolute;
  left: 10px;
  z-index: -1;
  color: rgba(0,0,0,0.2);
  line-height: 3.5;
}

.mp-level > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
} /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
  background: rgba(0,0,0,0.1);
  outline: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  font-size: 0.8em;
  padding: 1em;
  position: relative;
  box-shadow: inset 0 1px rgba(0,0,0,0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

.mp-back::after {
  font-family: 'linecons';
  position: absolute;
  content: "\e037";
  right: 10px;
  font-size: 1.3em;
  color: rgba(0,0,0,0.3);
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
  padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
  display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
  display: block;
}
.header {
  background: #b50000;
  height: 120px;
  width: 100%;
  /*margin-top: 5%;*/
  padding-left: 5%;
  padding-top: 40px;
  text-align: center;
  padding-right: 5%;
  position: relative;
}

.wrapper-all {
  width: 100%; 
  margin: 0 auto;
  text-align: left;
  background: white;
  position: relative;
  transition: left 0.5s;
  left: 0;
  
}
.logo {
  float: left;
  width: 60px;
  position: absolute;
  left: 45%;
  top: -50px;}
.shop {
  width: 60px;
  position: absolute;
  top:-45px;
  right:0;
}

.logo img {
  width: 5%;
  height: auto;

}
.search-wrap {
  width: 100%;
  display: block;
}
.back {
  background: blue;
}
    .wrapper.cat_nav .primary-nav-wrap,
    .wrapper.sub_nav .primary-nav-wrap,
    .wrapper.sub_links .primary-nav-wrap{
        right: 20%;
    }

    .wrapper.sub_nav .cat_links .sub_links{
        right: 0;
    }
    /*STOP OVERLAY ANIMATON*/

/**/
    }
    .top-nav ul {
      list-style-type: none;
    }
.top-nav li {
  display: inline;
}
  .top-nav li a {
    text-decoration: none;
    display: inline;
    color: #b50000;
  }
.topa {
  float: left;
  width: 60%;
/*  display: none;*/
}
.topbar ul {
  list-style-type: none;
}
.topbar ul li{
  display: inline-block;
}
.topbar ul li a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}


.email {
  float: right;
  width: 20%;
  display:none;
}
.email img {
  float: left;
  width: 30%;
  height: auto;
}
.etext{float: left;
color: white;}

.search-wrap {
  clear: both;
}


select {
  max-width: 50px;
  float:left;
  padding-top: 10px;
  margin-top:4px;
  height: 70px;
}
.shopping {
display: none;
}
.search-wrap {height: 5%;}
#tfheader{
    background-color:#cc0000;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  #tfnewsearch{
/*    padding:20px;*/
  }
  .tftextinput{
    margin: 0;
    width: 65%;
    float:left;
    padding: 4px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-radius: 10px;
    color: gray;
    text-align: center;
  }
  .tfbutton {
/*    padding: 5px 15px;*/
/*    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;*/
    margin: 0 auto;
    width:50px;
    height: auto;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #cc0000;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }
  .tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  }
  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }
  .tfclear{
    clear:both;
  }
.cart {
  display: none;
}
.body-wrapper {
  width: 90%;
  margin: 0 auto;
}
.shipping {
  font-size: .75em;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid #b50000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.shipping a {
  text-decoration: none;
  color: #b50000;
}
.learn-shipping {
  font-size: .7em;
}
.sports-title h1{
  padding: 0;
  margin: 0;
}
.sports-title p {
  padding: 0;
  margin: 0
}
.navb{
  display: none;
}
.nav-block {
  margin: 0 auto;
  padding: 0;
}
/*.fourblock {
  padding: 0;
  margin:0 auto;
}*/
.icon1 {
  display: inline-block;
  background-color: #b50000;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  border-radius: 0px 40px 40px 0px;
}
.icon1 ul {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
/*  display: block;*/
}
.icon1 li {
  background: white;
  margin: 0 auto;
  margin-bottom: .5em;
  border-radius: 0 30px 30px 0;
  padding-right: 10%;
  margin-left: 5%;
}

.icon1 li a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

.icon1 li a span{
  color: black;
}

.icon1 li a img {
  width: 45%;
  float: left;
}



#amazingcarousel-container-1{
clear: both;}
#amazingcarousel-container-1 h2 {
  text-align: right;
  border-right: 4px solid #b50000;
  border-top: 4px solid #b50000;
  border-bottom: 4px solid #b50000;
  padding-right: 5px;
  padding-bottom: 0;
  margin-bottom: 0;

}
.feature {
  width: 100%;
  border-top: 4px solid #b50000;
  margin: 0 auto;
}
.feature a{
  text-decoration: none;
  color: red;

}
.feature h2 {
  text-align: right;
}
.feature-text {
  width: 35%;
  float: left;
}
.feature-image {
  width: 65%;
  float: left;
  padding-top: .9em;
}
.feature-image img {
  width: 100%;
  height: auto;
}
.clearance-wrapper {
  clear: both;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 4px solid #b50000;
  margin-top: 10px;
  width: 100%
}
.clearance {
  width: 25%;
  float: left;
  text-align: center;
  color: #3a3a3a;

}
.clearance a {
  text-decoration: none;
  color: #3a3a3a;
}
.clearance img {
  width: 100%;
}
.pool-img {
  width: 70%;
  float: right;
   position: relative;
   padding-left: 5px;
   padding-right: 0px;

}
.pool-img img {
  width: 100%;
  z-index: 20
}
.info-bar {
  position: absolute;
  left: 3%;
  top:10%;
  color: white;
}
.pool-button {
  font-size: .8em;
  text-align: center;
  background-color: #696969;
  border: 2px solid white;
  border-radius: 5px;
}
.event-deal {
  clear: both;
  position: normal;
  padding-top: 2em;
  margin-top: 10px
}
.promo-event {
  width: 65%;
  float: left;
  position: normal;
}
.promo-event img {
  width: 100%;
}
.event-text {
  width: 35%;
  float: left;
  position: normal;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
.event-text h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
.event-text p {
  margin: 0;
  padding:0;
  font-size: .8em;
  font-weight: 700;
}
.bikes a {
  font-size: .65em;
  color: #696969;
  text-decoration: none;
}

footer {
  clear: both;
  width: 90%;
  margin: 0 auto;
  border-top: 4px solid #b50000;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 0.75em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li a {
  text-decoration: none;
  color: #696969;
  text-align: left;
}

.bottom-nav {
  clear:both;
  margin: 0 auto;
  width: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  display: none;
  border-top: 2px solid #b50000;
  margin-top: 5px;
  padding-top: 5px;
}
.bottom-nav a{
  font-size: .9em;
  font-weight: 400;
}
.recent {
  width: 20%;
  float: left;
}
.recent img {
  width: 70%;
  float:left;
}
.bottom-nav1{
  width: 20%;
  float: left;
}
.bottom-nav2{
  width: 20%;
  float: left;
}
.bottom-nav3{
  width: 20%;
  float: left;
}
.bottom-nav4{
  width: 20%;
  float: left;
}
.redcard {
  width: 15%;
  float: left;
}
.disclaimer {
  clear: both; 
  width: 100%;
}
.dsc {
  width: 10%;
  float: left;
}
.dsc img {
  width: 75%;
  height: auto;
}
.dsc2 {
  width: 90%;
  float: right;
  text-align: right;
}
.dsc2 ul {
  list-style-type: none;
  display:inline;
}
.last-nav {
  clear: both;
  width: 100%;
  float: right;
  border-top: 1px solid #696969;
}
.last-nav p {
  text-align: right;
}
.last-nav ul {
  text-align: right;
}
.last-nav ul li {
  display: inline;
  text-align: right;
}


@media screen and (min-width: 650px) {
.tftextinput{ 
  width: 90%;
}

.icon1 {
  background: white;
  width: 100%;
  border:none;
  display: inline;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
}

.icon1 ul li a {
  display: block;
  width: 100%;
}
.icon1 ul {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
.icon1 ul li {
  display: block;
  float: left;
  border: none;
  padding: 5px;
  margin: 0 auto; 
  width: 50%; 
  border: 2px solid #b50000;
  border-bottom: none;
  border-left: none;
}
.icon1 li {
  display: inline-block;
}

}

@media screen and (min-width: 1000px){

#sidr {
  display: none;
}
#primary_nav_wrap {
  display: block;
}
.shipping {
  font-size: 1em;
}
.navb {
  display: block;
  width: 20%;
  float:left;
  margin: 0 auto;
  border-right: 1px solid #b50000;
  font-weight: 700;
  margin-top: 50px;
}
.navb ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.navb li {
  margin: 0;
  padding:0;
}
.navb li a {
  text-decoration: none;
  font-size: .75em;
  color: black;
}
.large-wrap {
  width: 80%;
  float:left;
}
.tftextinput{
  border-radius: 10px 0 0 10px;}

.icon1 {
  margin-top: 10em;
}
.icon1 li a img {
  float:none;
  width: 85%;
}
.icon1 ul{
  margin-top: 50px;
}
.icon1 li:last-child{
  margin-top: 0;
  padding-top: 0;
}
.icon1 ul li {
  width: 25%;
  border: none;
  border-radius: 0;
  padding-top: 10px;
  display: inline-block;
  float:none;
  vertical-align: top;
}
.icon1 ul li span{
}

#amazingcarousel-container-1 {
  clear:both;
}
.icon1 li{
}

.feature-text h3 {
  font-size: 3em;
}
.feature-text p {
  font-size: 2em;
}
.feature-text a {
  font-size: 1em;
}

.clearance h2 {
  font-size: 3em;
}

.event-text h2 {
  font-size: 3em;
} 
.event-text p{
  font-size: 2em;
}
.bottom-nav {
  display: inline-block;
}
}