.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
 start commented backslash hack \
* html .clearfix { height: 1%; }
.clearfix { display: block; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 


body{
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  font-size: 16px; 
  font-family: 'PT Sans', arial, sans-serif;
}
span {
  color:red;
}

.wrapper {
  width: 100%; 
  margin: 0 auto;
  text-align: left;
  background: white;
}
.header {
  background: #b50000;
  height: 120px;
  width: 100%;
  /*margin-top: 5%;*/
  padding-left: 5%;
  padding-top: 40px;
  text-align: center;
  padding-right: 5%;
  position: relative;

}
.logo {float: left;
width: 60px;
position: absolute;
left: 45%;
top: -50px;}
.shop {
  width: 60px;
  position: absolute;
  top:-45px;
  right:0;
}

/*.logo img {
  width: 5%;
  height: auto;

}*/

.dropdown {
  display: none;
}
.topa {
  float: left;
  width: 60%;
  display: none;
}
.topbar ul {
  list-style-type: none;
}
.topbar ul li{
  display: inline-block;
}
.topbar ul li a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.redcard {
  position: relative;
}
.redcard ul li{
display:none;
}
.redcard ul li:hover > ul {
  display: block;
}
.email {
  float: right;
  width: 20%;
  display:none;
}
.email img {
  float: left;
  width: 30%;
  height: auto;
}
.etext{float: left;
color: white;}
.search-wrap {
  clear: both;
}
#primary_nav_wrap
{
  margin-top:15px;
  width: 100%;
  display: none;
  z-index: 30;
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0;
  
}
#primary_nav_wrap:first-child{
  display: inline;
}

#primary_nav_wrap ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:#ddd
}

#primary_nav_wrap ul li:hover
{
  background:#f6f6f6
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}
select {
  max-width: 50px;
  float:left;
  padding-top: 10px;
  margin-top:4px;
  height: 70px;
}
.shopping {
display: none;
}
.search-wrap {height: 5%;}
#tfheader{
    background-color:#cc0000;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  #tfnewsearch{
/*    padding:20px;*/
  }
  .tftextinput{
    margin: 0;
    width: 65%;
    float:left;
    padding: 4px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-radius: 10px;
    color: gray;
    text-align: center;
  }
  .tfbutton {
/*    padding: 5px 15px;*/
/*    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;*/
    margin: 0 auto;
    width:50px;
    height: auto;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #cc0000;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }
  .tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  }
  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }
  .tfclear{
    clear:both;
  }
.cart {
  display: none;
}
.body-wrapper {
  width: 90%;
  margin: 0 auto;
}
.shipping {
  font-size: .75em;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid #b50000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.shipping a {
  text-decoration: none;
  color: #b50000;
}
.learn-shipping {
  font-size: .7em;
}
.sports-title h1{
  padding: 0;
  margin: 0;
}
.sports-title p {
  padding: 0;
  margin: 0
}
.navb{
  display: none;
}
.nav-block {
  margin: 0 auto;
  padding: 0;
}
/*.fourblock {
  padding: 0;
  margin:0 auto;
}*/
.icon {
  display: inline-block;
  background-color: #b50000;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  border-radius: 0px 40px 40px 0px;
}
.icon ul {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
/*  display: block;*/
}
.icon li {
  background: white;
  margin: 0 auto;
  margin-bottom: .5em;
  border-radius: 0 30px 30px 0;
  padding-right: 10%;
  margin-left: 5%;
}

.icon li a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

.icon li a span{
  color: black;
}

.icon li a img {
  width: 45%;
  float: left;
}



#amazingcarousel-container-1{
clear: both;}
#amazingcarousel-container-1 h2 {
  text-align: right;
  border-right: 4px solid #b50000;
  border-top: 4px solid #b50000;
  border-bottom: 4px solid #b50000;
  padding-right: 5px;
  padding-bottom: 0;
  margin-bottom: 0;

}
.feature {
  width: 100%;
  border-top: 4px solid #b50000;
  margin: 0 auto;
}
.feature a{
  text-decoration: none;
  color: red;

}
.feature h2 {
  text-align: right;
}
.feature-text {
  width: 35%;
  float: left;
}
.feature-image {
  width: 65%;
  float: left;
  padding-top: .9em;
}
.feature-image img {
  width: 100%;
  height: auto;
}
.clearance-wrapper {
  clear: both;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 4px solid #b50000;
  margin-top: 10px;
  width: 100%
}
.clearance {
  width: 25%;
  float: left;
  text-align: center;
  color: #3a3a3a;

}
.clearance a {
  text-decoration: none;
  color: #3a3a3a;
}
.clearance img {
  width: 100%;
}
.pool-img {
  width: 70%;
  float: right;
   position: relative;
   padding-left: 5px;
   padding-right: 0px;

}
.pool-img img {
  width: 100%;
  z-index: 20
}
.info-bar {
  position: absolute;
  left: 3%;
  top:10%;
  color: white;
}
.pool-button {
  font-size: .8em;
  text-align: center;
  background-color: #696969;
  border: 2px solid white;
  border-radius: 5px;
}
.event-deal {
  clear: both;
  position: normal;
  padding-top: 2em;
  margin-top: 10px
}
.promo-event {
  width: 65%;
  float: left;
  position: normal;
}
.promo-event img {
  width: 100%;
}
.event-text {
  width: 35%;
  float: left;
  position: normal;
  padding-top: 0.5em;
  padding-left: 0.5em;
}
.event-text h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
.event-text p {
  margin: 0;
  padding:0;
  font-size: .8em;
  font-weight: 700;
}
.bikes a {
  font-size: .65em;
  color: #696969;
  text-decoration: none;
}

footer {
  clear: both;
  width: 90%;
  margin: 0 auto;
  border-top: 4px solid #b50000;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 0.75em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li a {
  text-decoration: none;
  color: #696969;
  text-align: left;
}

.bottom-nav {
  clear:both;
  margin: 0 auto;
  width: 100%;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  display: none;
  border-top: 2px solid #b50000;
  margin-top: 5px;
  padding-top: 5px;
}
.bottom-nav a{
  font-size: .9em;
  font-weight: 400;
}
.recent {
  width: 20%;
  float: left;
}
.recent img {
  width: 70%;
  float:left;
}
.bottom-nav1{
  width: 20%;
  float: left;
}
.bottom-nav2{
  width: 20%;
  float: left;
}
.bottom-nav3{
  width: 20%;
  float: left;
}
.bottom-nav4{
  width: 20%;
  float: left;
}
.redcard {
  width: 15%;
  float: left;
}
.disclaimer {
  clear: both; 
  width: 100%;
}
.dsc {
  width: 10%;
  float: left;
}
.dsc img {
  width: 75%;
  height: auto;
}
.dsc2 {
  width: 90%;
  float: right;
  text-align: right;
}
.dsc2 ul {
  list-style-type: none;
  display:inline;
}
.last-nav {
  clear: both;
  width: 100%;
  float: right;
  border-top: 1px solid #696969;
}
.last-nav p {
  text-align: right;
}
.last-nav ul {
  text-align: right;
}
.last-nav ul li {
  display: inline;
  text-align: right;
}


@media screen and (min-width: 650px) {
.tftextinput{ 
  width: 90%;
}

.icon {
  background: white;
  width: 100%;
  border:none;
  display: inline;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
}

.icon ul li a {
  display: block;
  width: 100%;
}
.icon ul {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
.icon ul li {
  display: block;
  float: left;
  border: none;
  padding: 5px;
  margin: 0 auto; 
  width: 50%; 
  border: 2px solid #b50000;
  border-bottom: none;
  border-left: none;
}
.icon li {
  display: inline-block;
}

}

@media screen and (min-width: 1000px){

#sidr {
  display: none;
}
#primary_nav_wrap {
  display: block;
}
.shipping {
  font-size: 1em;
}
.navb {
  display: block;
  width: 20%;
  float:left;
  margin: 0 auto;
  border-right: 1px solid #b50000;
  font-weight: 700;
  margin-top: 50px;
}
.navb ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.navb li {
  margin: 0;
  padding:0;
}
.navb li a {
  text-decoration: none;
  font-size: .75em;
  color: black;
}
.large-wrap {
  width: 80%;
  float:left;
}
.tftextinput{
  border-radius: 10px 0 0 10px;}

.icon {
  margin-top: 10em;
}
.icon li a img {
  float:none;
  width: 100%;
}
.icon ul{
  margin-top: 50px;
}
.icon li:last-child{
  margin-top: 0;
  padding-top: 0;
}
.icon ul li {
  width: 33%;
  border: 1px solid #b50000;
  border-radius: 0;
}

#amazingcarousel-container-1 {
  clear:both;
}
.icon li a{
  padding-top: 10px;
  display: inline-block;
  float:none;
}

.feature-text h3 {
  font-size: 3em;
}
.feature-text p {
  font-size: 2em;
}
.feature-text a {
  font-size: 1em;
}

.clearance h2 {
  font-size: 3em;
}

.event-text h2 {
  font-size: 3em;
} 
.event-text p{
  font-size: 2em;
}
.bottom-nav {
  display: inline-block;
}
}